@media (max-width: 1720px) {
  .last-blog__items {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 60px;
  }
  .post__img {
    margin: 0 auto 40px;
  }
  .apartments__num {
    margin-left: 40px;
    padding-right: 15px;
  }
  .apartments--reverse .apartments__num {
    margin-right: 60px;
    padding-right: 0;
    padding-left: 15px;
  }
  .european-images__item:not(:nth-child(3n)) {
    margin-right: 0;
  }
  .european-images__items {
    justify-content: center;
  }
}

@media (max-width: 1580px) {
  .midle-images__content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .midle-images__item:not(:last-child) {
    margin-bottom: 25px;
  }
}

@media (max-width: 1440px) {
  .info-links {
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
  }
  .top {
    display: flex;
    flex-direction: column;
  }
  .top__container {
    margin-left: 50px;
    margin-bottom: auto;
  }
  .top__info-links {
    transform: translateY(0);
  }
  .about-info {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .about-info__inner {
    align-items: flex-start;
  }
  .living-space__images:not(:last-child),
  .guest__images:not(:last-child) {
    margin-left: 0;
  }
  .little-images__content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .little-images__item:not(:last-child) {
    margin-bottom: 25px;
  }
  .european-images__item {
    margin-bottom: 25px;
  }
  .european-images__item:nth-child(3n + 2) {
    transform: translateY(0);
  }
}

@media (max-width: 1200px) {
  .header {
    padding-top: 40px;
  }
  .footer__container-content {
    padding: 40px 15px;
  }
  .about-info {
    padding: 150px 15px;
  }
  .about-info__images {
    display: none;
  }
  .about-info__content {
    margin-left: 0;
  }
  .advantages {
    padding-bottom: 120px;
  }
  .advantages__title {
    margin-bottom: 40px;
  }
  .advantages__items {
    grid-gap: 40px;
  }
  .advantages__item {
    padding: 40px 0px;
    margin: 0 auto;
  }
  .advantages__item:not(:nth-child(3n)) {
    margin-right: auto;
  }
  .team {
    padding: 150px 0;
  }
  .team__top {
    margin-bottom: 40px;
  }
  .honors {
    padding-bottom: 100px;
  }
  .honor__number {
    margin-right: auto;
  }
  .honors__title {
    margin-bottom: 60px;
  }
  .last-blog {
    padding-bottom: 150px;
  }
  .contact {
    padding-bottom: 100px;
  }
  .contact-info__item {
    margin-bottom: 30px;
  }
  .review {
    padding: 80px 0;
    padding-left: 100px;
  }
  .swiper-pagination {
    right: 20px;
  }
  .swiper-button-prev {
    left: 20px;
  }
  .swiper-button-next {
    left: 120px;
  }
  .reviews {
    padding-bottom: 100px;
  }
  .about-page__title,
  .contact-page__title,
  .projects__title {
    padding: 120px 0 100px;
  }
  .about-item {
    margin-bottom: 80px;
  }
  .about-item__image {
    margin-bottom: 80px;
  }
  .portners {
    padding: 80px 0 20px;
    margin-bottom: 80px;
  }
  .portners__item {
    margin-right: 0;
    margin-bottom: 60px;
    display: flex;
    width: 25%;
    justify-content: center;
  }
  .about-item--reverse .about-item__list {
    margin-bottom: 80px;
  }
  .apartments__num {
    display: none;
  }
  .apartments {
    margin-bottom: 80px;
    padding: 0 15px;
  }
  .apartments__inner {
    margin-bottom: 30px;
  }
  .apartments__bottom {
    align-items: center;
  }
  .apartments__title {
    margin-right: 0;
    padding-bottom: 0;
  }
  .apartments--reverse .apartments__title {
    margin-left: 0;
  }
  .details-one__content {
    padding-top: 200px;
    padding-left: 60px;
    padding-bottom: 20px;
    margin-bottom: 80px;
  }
  .platinum-top {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .platinum-slider--style {
    transform: translateY(-70px);
  }
  .preview-images__container {
    justify-content: center;
  }
  .preview-images__item {
    margin-bottom: 60px;
  }
  .preview-images__item:nth-child(2n) {
    transform: translateY(0px);
  }
  .preview-images {
    padding: 60px 0;
  }
  .page-top__content {
    padding-top: 340px;
  }
  .information__image {
    height: 550px;
  }
  .royal-sliders .swiper-button-prev {
    left: 0;
  }
  .royal-sliders .swiper-button-next {
    left: 105px;
  }
  .royal-sliders .platinum-slider__image {
    height: 550px;
  }
  .information {
    padding-top: 80px;
  }
  .royal-sliders {
    padding-top: 60px;
  }
  .information__content {
    margin-bottom: 60px;
  }
  .information__items::before,
  .information-descr__decor::before {
    display: none;
  }
  .elegant-box {
    padding-top: 80px;
  }
  .elegant-box__content {
    padding-bottom: 30px;
    margin: 0 auto 80px;
  }
  .elegant-info {
    padding: 60px 0;
  }
  .big-image,
  .midle-images,
  .little-images {
    padding: 80px 0;
  }
}

@media (max-width: 992px) {
  .top__container {
    padding-top: 350px;
    padding-bottom: 250px;
  }
  .info-links__item:not(:last-child) {
    margin-right: 10px;
  }
  .advantages__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .dining__img,
  .kitchen__img,
  .video {
    height: 530px;
  }
  .dining,
  .guest__container,
  .living-space,
  .kitchen {
    margin-bottom: 130px;
  }
  .guest__images {
    transform: translateY(0px);
  }
  .living-space__images:not(:last-child) {
    transform: translateY(0px);
  }
  .guest__container,
  .living-space__container {
    flex-direction: column;
    align-items: center;
  }
  .guest__images:not(:last-child),
  .living-space__images:not(:last-child) {
    margin-bottom: 25px;
  }
  .bottom-info {
    padding: 100px 0 100px;
  }
  .page-top--elegant::before {
    width: 340px;
  }
  .heade-menu {
    padding: 180px 50px 60px;
  }
}

@media (max-width: 860px) {
  .title {
    font-size: 36px;
    line-height: 56px;
  }
  .footer__container-content {
    display: block;
    text-align: center;
  }
  .footer__copy {
    margin-bottom: 10px;
  }
  .footer__links {
    justify-content: center;
  }
  .top__container {
    margin-left: 20px;
  }
  .top__subtitle {
    margin-bottom: 15px;
  }
  .top__title {
    font-size: 80px;
    line-height: 80px;
  }
  .info-links {
    padding: 20px;
    display: block;
  }
  .info-links__number {
    margin-bottom: 3px;
  }
  .info-links__item {
    margin-bottom: 15px;
  }
  .info-links__title {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 10px;
  }
  .about-info {
    padding: 100px 15px;
  }
  .about-info__text {
    font-size: 32px;
    line-height: 52px;
    margin-bottom: 40px;
  }
  .about-info__num {
    font-size: 80px;
    line-height: 80px;
  }
  .about-info ul.about-info__numbers {
    padding-left: 0;
    justify-content: space-around;
  }
  .about-info__number {
    min-width: auto;
    margin-bottom: 25px;
  }
  .about-info__number:not(:nth-child(2n)) {
    margin-right: 0px;
  }
  .about-info__number:not(:last-child) {
    margin-right: 25px;
  }
  .team {
    padding: 100px 0;
  }
  .post__img-link {
    margin-bottom: 0;
  }
  .post__img {
    width: auto;
    height: auto;
    margin-bottom: 20px;
  }
  .post__time::before {
    display: none;
  }
  .last-blog__title {
    margin-bottom: 60px;
  }
  .last-blog {
    padding-bottom: 60px;
  }
  .contact-map {
    height: 600px;
    overflow: hidden;
  }
  .contact-form {
    padding: 40px 80px 40px;
    margin-bottom: -60px;
    transform: translateY(-114px);
  }
  .contact-form__input-box {
    max-width: 100%;
  }
  .contact-info__item:not(:last-child) {
    margin-right: 0;
  }
  .contact {
    padding-bottom: 60px;
  }
  .review {
    padding: 40px 0;
    padding-left: 0;
  }
  .review__box {
    padding-left: 30px;
  }
  .review__box::before {
    display: none;
  }
  .review__text,
  .information__title {
    margin-bottom: 25px;
    font-size: 26px;
    line-height: 44px;
  }
  .reviews {
    padding-bottom: 80px;
  }
  .about-page__title,
  .contact-page__title,
  .projects__title {
    padding: 100px 0 60px;
  }
  .portners__item {
    width: 50%;
  }
  .about-item__list {
    flex-direction: column;
    justify-content: start;
  }
  .about-item__list-item {
    margin-right: 0;
    margin-bottom: 25px;
  }
  .about-item__list-text {
    width: 100%;
  }
  .contact-page__content {
    padding: 60px 0 60px;
  }
  .details-one__descr {
    font-size: 26px;
    line-height: 42px;
  }
  .platinum-top__text,
  .elegant-box__title,
  .european-top__text {
    font-size: 26px;
    line-height: 42px;
  }
  .information__image {
    height: 400px;
  }
  .royal-sliders {
    padding-top: 0;
  }
  .royal-sliders .platinum-slider__image {
    height: 415px;
  }
  .information__items {
    flex-direction: column;
    align-items: center;
  }
  .information__item:not(:last-child) {
    margin-right: 0;
  }
  .european__slider {
    padding-top: 20px;
  }
}

@media (max-width: 768px) {
  .apartments .text-up {
    display: none;
  }
  .bottom-info__container {
    flex-direction: column;
  }
  .bottom-info__title {
    margin-bottom: 10px;
  }
  .footer-menu__link {
    height: 140px;
  }
  .details-one__content {
    padding-top: 140px;
    padding-left: 15px;
    padding-bottom: 10px;
    margin-bottom: 60px;
  }
}

@media (max-width: 576px) {
  .heade-menu {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    padding: 160px 30px 60px;
  }
  .menu {
    margin-bottom: 50px;
  }
  .menu__link {
    font-size: 30px;
    line-height: 36px;
  }
  .menu__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .heade-menu__info {
    flex-direction: column;
    align-items: flex-start;
  }
  .heade-menu__addres,
  .heade-menu__link {
    margin-bottom: 10px;
  }
  .heade-menu.active .dropdown-menu .item-back {
    top: -60px;
  }
  .heade-menu.active .dropdown-menu .item-back__link {
    font-size: 24px;
  }
  .main-title {
    font-size: 44px;
    line-height: 62px;
  }
  .title {
    font-size: 28px;
    line-height: 46px;
  }
  .header {
    padding-top: 30px;
  }
  .social__item:not(:last-child) {
    margin-right: 20px;
  }
  .footer__container-content {
    padding: 20px 15px;
  }
  .footer__copy {
    font-size: 12px;
  }
  .footer__link {
    font-size: 12px;
  }
  .footer__link:not(:last-child) {
    margin-right: 20px;
  }
  .top__container {
    padding-top: 200px;
    padding-bottom: 180px;
    margin-left: 0;
  }
  .top__title {
    font-size: 64px;
    line-height: 64px;
  }
  .info-links {
    background-color: rgba($color: $dark, $alpha: 0.7);
  }
  .info-links__title {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 5px;
  }
  .text-up {
    font-size: 11px;
    line-height: 15px;
  }
  .info-links__link::before {
    top: 0px;
    right: -20px;
  }
  .about-info {
    padding: 60px 15px;
  }
  .about-info__text {
    font-size: 20px;
    line-height: 33px;
    margin-bottom: 25px;
  }
  .about-info__num {
    text-align: center;
    font-size: 44px;
    line-height: 55px;
    margin-bottom: 0;
  }
  .advantages {
    padding-bottom: 60px;
  }
  .advantages__items {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  .advantages__item {
    max-width: 160px;
    padding: 20px 0px;
  }
  .advantages__subtitle {
    margin-bottom: 14px;
  }
  .advantages__descr {
    font-size: 16px;
    line-height: 28px;
  }
  .mind {
    padding: 40px 0;
  }
  .mind__title::before {
    display: none;
  }
  .mind__title {
    font-size: 28px;
    line-height: 46px;
    margin-bottom: 15px;
  }
  .team {
    padding: 60px 0;
  }
  .team__items {
    grid-gap: 30px;
  }
  .team__subtitle {
    margin-bottom: 14px;
  }
  .human__img {
    width: 240px;
    height: 360px;
    margin: 0 auto 20px;
  }
  .human__name {
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 3px;
  }
  .human__name::before {
    display: none;
  }
  .honors {
    padding-bottom: 60px;
  }
  .honors__title {
    margin-bottom: 40px;
  }
  .honors__item {
    padding: 25px 0;
  }
  .honor__list-item {
    font-size: 14px;
    line-height: 26px;
  }
  .honor__number {
    font-size: 32px;
    line-height: 50px;
  }
  .post__title-link {
    font-size: 20px;
    line-height: 30px;
  }
  .post__time {
    margin-bottom: 8px;
  }
  .last-blog__title {
    margin-bottom: 40px;
  }
  .contact-map {
    height: 400px;
    margin-bottom: 30px;
  }
  .contact-form {
    padding: 30px 20px;
    transform: translateY(0);
    margin-bottom: 20px;
  }
  .contact-form__title {
    margin-bottom: 34px;
  }
  .contact-form__textarea {
    height: 100px;
  }
  .contact-info__img {
    margin-bottom: 15px;
  }
  .contact-info__item {
    margin-bottom: 20px;
  }
  .review__box {
    padding: 0 15px;
  }
  .review__text,
  .information__title {
    margin-bottom: 15px;
    font-size: 22px;
    line-height: 34px;
  }
  .review__author {
    padding-left: 60px;
  }
  .review__author::before {
    width: 45px;
  }
  .slider-reviews {
    padding-bottom: 35px;
  }
  .swiper-button-prev {
    left: 7px;
  }
  .swiper-button-prev::before {
    left: 30px;
  }
  .swiper-button-next {
    left: 60px;
  }
  .swiper-pagination-total {
    padding-left: 5px;
  }
  .swiper-pagination-current::before {
    right: 40px;
  }
  .swiper-pagination-current {
    padding-right: 15px;
  }
  .about-page__title,
  .contact-page__title,
  .projects__title {
    padding: 80px 0 40px;
  }
  .about-item__image {
    margin-bottom: 30px;
  }
  .about-item__text {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 30px;
  }
  .about-item {
    margin-bottom: 20px;
  }
  .portners {
    padding: 25px 0 10px;
    margin-bottom: 40px;
  }
  .portners__item {
    margin-bottom: 20px;
  }
  .about-item--reverse .about-item__list {
    margin-bottom: 20px;
  }
  .about-item--reverse {
    padding-bottom: 60px;
  }
  .about-item .container {
    padding: 0;
  }
  .apartments__inner {
    margin-bottom: 15px;
  }
  .apartments {
    margin-bottom: 45px;
  }
  .apartments__title {
    font-size: 22px;
    line-height: 32px;
  }
  .laters-work {
    padding-bottom: 60px;
  }
  .slider-work {
    padding-bottom: 40px;
  }
  .laters-work__container {
    margin-bottom: 40px;
  }
  .slider-work__image {
    max-width: 100%;
    max-height: 478px;
  }
  .slider-work__box {
    padding: 80px 15px 30px;
    clip-path: polygon(0% 30%, 101% 15%, 101% 100%, -1% 100%);
  }
  .details-one {
    padding: 0 15px;
  }
  .details-one__content {
    padding-left: 0;
  }
  .details-one__title,
  .platinum-top__title {
    margin-bottom: 20px;
  }
  .details-one__descr {
    font-size: 18px;
    line-height: 32px;
  }
  .dining__img,
  .kitchen__img,
  .video {
    height: 280px;
  }
  .living-space__img,
  .guest__img,
  .preview-images__image {
    width: 300px;
    height: 430px;
  }
  .descr {
    font-size: 12px;
    line-height: 15px;
    padding-left: 5px;
  }
  .dining,
  .guest__container,
  .living-space,
  .kitchen {
    margin-bottom: 60px;
  }
  .bottom-info {
    padding: 40px 0;
  }
  .footer-menu__next-link,
  .footer-menu__prev-link {
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .footer-menu__item,
  .footer-menu__center {
    width: 33%;
  }
  .footer-menu__link {
    height: 100px;
  }
  .details-one__content {
    padding-top: 110px;
  }
  .platinum-top {
    padding-top: 110px;
    padding-bottom: 60px;
  }
  .platinum-top__text,
  .elegant-box__title,
  .european-top__text {
    font-size: 18px;
    line-height: 32px;
    padding-bottom: 20px;
  }
  .platinum-slider--style {
    transform: translateY(-25px);
    padding-bottom: 30px;
  }
  .platinum-sliders .swiper-button-next {
    left: 55px;
  }
  .preview-images {
    padding: 60px 0 0;
  }
  .platinum-image__img {
    height: 240px;
  }
  .page-top__container {
    min-height: 100vh;
  }
  .page-top__content {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .link-down {
    padding-bottom: 15px;
  }
  .information {
    padding-top: 40px;
  }
  .information__image {
    height: 240px;
  }
  .img-display {
    padding: 0 15px;
  }
  .platinum-slider__text {
    margin-bottom: 15px;
  }
  .royal-sliders .platinum-slider__image {
    height: 250px;
  }
  .royal-sliders .swiper-button-next {
    left: 55px;
  }
  .platinum-slider__text {
    margin-bottom: 10px;
    font-size: 12px;
  }
  .royal-sliders .swiper-pagination {
    right: 0;
  }
  .page-top--elegant::before {
    width: 170px;
  }
  .elegant-box {
    padding-top: 60px;
  }
  .elegant-box__content {
    padding-bottom: 0;
    margin: 0 auto 60px;
  }
  .elegant-info__container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .elegant-info__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .elegant-info {
    padding: 40px 0;
  }
  .big-image,
  .midle-images,
  .little-images,
  .european-images {
    padding: 40px 0;
  }
  .big-image__img {
    margin-bottom: 15px;
  }
  .european {
    .descr {
      display: none;
    }
  }
  .european-images__img {
    width: 320px;
    height: 440px;
  }
  .european-top__content {
    padding-bottom: 0;
  }
  .european__slider::before {
    height: 60px;
  }

  // Карточки
  .swiper-slide-active {
    .slider-work__box {
      bottom: 0;
    }
    .slider-work__title {
      &::before {
        opacity: 1;
        transition: opacity 0.2s linear 1.4s;
      }
    }
    .slider-work__descr {
      transform: translateY(0px);
      opacity: 1;
      visibility: visible;
    }
    .slider-work__title-link {
      transform: translateX(0px);
      opacity: 1;
    }
  }
}

@media (max-width: 360px) {
  .menu {
    margin-bottom: 30px;
  }
  .menu__link {
    font-size: 26px;
    line-height: 32px;
  }
  .heade-menu {
    padding-left: 20px;
  }
  .heade-menu.active .dropdown-menu .item-back {
    top: -55px;
  }
  .heade-menu.active .dropdown-menu .item-back__link {
    font-size: 20px;
  }
  .heade-menu__addres,
  .heade-menu__link {
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 22px;
  }
  .page-top__content {
    padding: 150px 0 80px;
  }
  .european-top {
    padding-top: 150px;
    padding-bottom: 80px;
  }
  .title {
    font-size: 24px;
    line-height: 40px;
  }
  .mind__title {
    font-size: 26px;
    line-height: 40px;
    margin-bottom: 10px;
  }
  .honor {
    flex-direction: column;
  }
  .last-blog__items {
    grid-gap: 30px;
  }
  .main-title {
    font-size: 34px;
    line-height: 50px;
  }
  .about-item__text {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 25px;
  }
  .apartments__title {
    font-size: 20px;
    line-height: 28px;
  }
  .dining__img,
  .kitchen__img,
  .information__image {
    height: 180px;
  }
  .living-space__img,
  .guest__img,
  .preview-images__image {
    width: 280px;
    height: 380px;
  }
  .details-one__descr {
    font-size: 16px;
    line-height: 28px;
  }
  .page-top__content {
    padding-bottom: 120px;
  }
  .european-images__img {
    width: 280px;
    height: 390px;
  }
}
