$white: #fff;
$pearl: #ebe6dd;
$gray: #888888;
$dark: #333333;

$title: #c9bcae;
$title-dark: #3c556e;

$accent: #c69f73;
$silver: #cccccc;
$alto: #d8d8d8;
$tundora: #444444;

$main-bg: #181818;
$bg-shaft: #333333;
$bg-light: #f8f8f8;
$bg-cream: #837567;
$bg-cream-light: #f7f5f0;

$mirage: #162330;
$mirage-ligth: #283847;



%play-700 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-style: normal;
}

%play-italic {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

%play-400 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

%roboto-700 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

%roboto-400 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

%roboto-100 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}




// %burger-width{
//   width: ;
// }
// %burger-height{
//   height: ;
// }
// %burger-line-height{
//   height: ;
// }