@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
@import "mixins";

//Большие компоненты страницы
@import "components/header";
@import "components/footer";

//Компоненты главной страницы
@import "components/home-top";
@import "components/home-about";
@import "components/laters-work";
@import "components/advantages";
@import "components/have-mind";
@import "components/team";
@import "components/reviews";
@import "components/honors";
@import "components/last-blog";


//Маленькие компоненты
@import "components/slider-el";



@import "media";
