.advantages {
  padding-bottom: 260px;
  &__container {

  }
  &__subtitle {
    margin-bottom: 28px;
  }
  &__title {
    max-width: 750px;
    color: $pearl;
    margin-bottom: 100px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    grid-template-rows: 1fr 1fr;
    grid-gap: 100px;
  }
  &__item {
    position: relative;
    max-width: 262px;
    width: 100%;
    padding: 61px 10px;
    text-align: center;
    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      background-image: url('../images/icons/border-top.svg');
      width: 30px;
      height: 30px;
    }
    &::after {
      position: absolute;
      content: '';
      bottom: 0;
      right: 0;
      background-image: url('../images/icons/border-bottom.svg');
      width: 30px;
      height: 30px;
    }
    &:not(:nth-child(3n)) {
    margin-right: 77px;
    }
  }
  &__img {
    height: 71px;
    margin: 0 auto 18px;
  }
  &__descr {
    display: block;
    @extend %play-700;
    font-size: 20px;
    line-height: 34px;
  }
}
