.footer-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__item {
    width: 40%;
  }
  &__prev-link {
    padding-left: 120px;
  }
  &__link {
    display: flex;
    align-items: center;
    height: 272px;
    transition: all .3s linear;

    // &:hover {
    //   background-color: $pearl;
    // }
  }
  &__img {
    width: 8px;
    height: 13px;
    object-fit: cover;
    fill: $gray;
  }
  &__center {
    width: 20%;
  }
  &__center-link {
    justify-content: center;
  }
  &__circle-img {
    width: 34px;
    height: 34px;
    object-fit: contain;
  }
  &__next-link {
    padding-right: 120px;
    justify-content: flex-end;
  }
}
.footer-menu--light {
  background-color: $white;
  .footer-menu {
    &__link {
      &:hover {
        background-color: $pearl;
      }
    }
  }
}
.footer-menu--dark {
  background-color: $dark;
  .footer-menu {
    &__link {
      &:hover {
        background-color: $tundora;
      }
    }
  }
}
.footer-menu--blue {
  background-color: $mirage-ligth;
  .footer-menu__img,
  .footer-menu__circle-img {
    fill: $white;
  }
  .footer-menu {
    &__link {
      &:hover {
        background-color: $title-dark;
      }
    }
  }
}


