.header {
  position: absolute;
  top: 0px;
  padding-top: 73px;
  width: 100%;
  left: 0;
  z-index: 5;
  &__container-content {
    @include flex-all-sb;
    z-index: 4;
  }
}
.social {
  @include flex-v-center;
  &__item {
    &:not(:last-child) {
      margin-right: 32px;
    }
  }
  &__img {
    width: 15px;
    height: 15px;
    object-fit: cover;
    fill: $white;
    transition: all 0.2s linear;
    &:hover {
      fill: $accent;
    }
  }
}

.burger-btn {
  padding: 0;
  background-color: transparent;
  border: none;
  margin-left: 60px;
  cursor: pointer;
  svg {
    height: 30px;
    transition: all 0.3s linear;
    transform: translateY(4px);
  }
  &__line-top {
    transition: all 0.3s linear;
  }
  &__line-bottom {
    transition: all 0.3s linear;
  }
}
.burger-btn.active {
  .burger-btn__line-top {
    transform: rotate(35deg) translate(0px, -6px);
  }
  .burger-btn__line-bottom {
    transform: rotate(-35deg) translate(-5px, 3px);
  }
}
