.header {
  position: absolute;
  top: 80px;
  width: 100%;
  left: 0;
  z-index: 2;
  &__container-content {
    @include flex-all-sb;
  }
  &__burger {

  }
  &__burger-btn {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
.social {
  @include flex-v-center;
  &__item {
    &:not(:last-child) {
      margin-right: 32px;
    }
  }
  &__img {
    width: 15px;
    height: 15px;
    object-fit: cover;
    fill: $white;
    transition: all .2s linear;
    &:hover {
      fill: $accent;
    }
  }
}
