.honors {
  padding-bottom: 200px;
  &__title {
    margin-bottom: 100px;
    text-align: center;
  }
  &__item {
    padding: 50px 0 50px;
    border-top: 1px solid rgba($color: #CCCCCC, $alpha: .2);
    &:last-child {
      border-bottom: 1px solid rgba($color: #CCCCCC, $alpha: .2);
    }
  }
}
.honor {
  display: flex;
  align-items: flex-start;
  &__number {
    font-size: 65px;
    line-height: 76px;
    margin-right: 443px;
    @extend %roboto-100;
  }
  &__list-item {
    font-size: 20px;
    line-height: 51px;
  }
}
