.laters-work {
  padding-bottom: 198px;
  &__container {
    margin-bottom: 100px;
  }
  &__subtitle {
    display: block;
    margin-bottom: 29px;
  }
  &__title {
    max-width: 750px;
    color: $pearl;
  }
}
// .swiper-slide-active {
//   .slider-work__box {
//     transition: all .5s linear;
//     bottom: 0;
//   }
//   .slider-work__title {
//     &::before {
//       opacity: 1;
//       transition: opacity .2s linear 1.4s;
//     }
//   }
//   .slider-work__descr {
//     transform: translateY(0px);
//     opacity: 1;
//     visibility: visible;
//   }
//   .slider-work__title-link {
//     transform: translateX(0px);
//     opacity: 1;
//   }
// }
.slider-work {
  padding-bottom: 63px;
  display: flex;
  &__item {
    position: relative;
    overflow: hidden;

    &:hover {
      .slider-work__box {
        bottom: 0;
      }
      .slider-work__title {
        &::before {
          opacity: 1;
          transition: opacity .2s linear 1.4s;
        }
      }
      .slider-work__descr {
        transform: translateY(0px);
        opacity: 1;
        visibility: visible;
      }
      .slider-work__title-link {
        transform: translateX(0px);
        opacity: 1;
      }
    }
  }
  &__image {
    width: 480px;
    height: 765px;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__box {
    position: absolute;
    bottom: -60%;
    left: 0;
    right: 0;
    max-width: 480px;
    padding: 100px 39px 50px;
    clip-path: polygon(0% 20%, 101% 0%, 101% 100%, 0% 100%);
    // transition: all .5s linear .4s;
    transition: all .5s linear;
  }
  &__box--dark {
    background-color: $dark;
  }
  &__descr {
    width: 120px;

    transform: translateY(-20px);
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s linear 0.5s, transform .4s linear 0.5s;
    // transition: opacity .4s linear 0.6s, transform .4s linear 0.6s;
  }
  &__title {
    position: relative;
    &::before {
      position: absolute;
      content: '';
      top: 29px;
      right: 2px;
      background-image: url('../images/svg/arrow-right.svg');
      width: 8px;
      height: 16px;
      background-repeat: no-repeat;
      opacity: 0;
    }
  }
  &__title-link {
    display: block;
    width: 100%;
    color: $white;
    transition: all .2s linear;
    transition: opacity .8s linear .8s, transform .5s linear .8s, color .2s linear;
    // transition: opacity .8s linear 1s, transform .5s linear 1s, color .2s linear;
    transform: translateX(28px);
    opacity: 0;
    &:hover {
      color: $title;
    }
  }
}
