.european {
  background-color: $mirage;
  &__img {
    max-height: 800px;
  }
  &__video {
    background-image: url('../images/bg-10.jpg');
    background-image: url('../images/bg-10.webp');
  }
  .elegant-info__item {
    text-align: left;
  }
  &__slider {
    background-color: $mirage-ligth;
    .platinum-slider__text{
      color: $white;
    }
    position: relative;
    &::before {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 100%;
      height: 160px;
      background-color: $mirage;
    }
  }
  .elegant-info__descr {
    color: $white;
  }
}

.european-top {
  padding-top: 240px;
  padding-bottom: 140px;
  &__content {
    position: relative;
    max-width: 945px;
    padding-bottom: 70px;

    &::before {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 120px;
      height: 1px;
      background-color: $accent;
    }
  }
  &__title {
    margin-bottom: 50px;
    color: $title;
  }
  &__text {
    @extend %play-400;
    font-size: 33px;
    line-height: 53px;
  }
}

.european-images {
  padding-top: 158px;
  padding-bottom: 80px;
  &__items {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    margin-bottom: 240px;
    &:not(:nth-child(3n)) {
      margin-right: 160px;
    }
    &:nth-child(3n + 2) {
      transform: translateY(160px);
    }
  }
  &__img {
    display: block;
    width: 416px;
    height: 625px;
    * {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .descr {
    color: $white;
  }
}
