.elegant {
  background-color: $bg-cream-light;
  .page-top__subtitle {
    color: $gray;
  }
  .page-top__title {
    color: $title-dark;
  }
  .page-top__content {
    padding-top: 418px;
    padding-bottom: 229px;
  }
}

.elegant-box {
  padding-top: 160px;
  &__content {
    position: relative;
    max-width: 945px;
    text-align: center;
    padding-bottom: 70px;
    margin: 0 auto 160px;

    &::before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 120px;
      height: 1px;
      background-color: $accent;
    }
  }
  &__title {
    @extend %play-400;
    font-size: 33px;
    line-height: 53px;
    color: $title-dark;
  }
}

.elegant-info {
  background-color: $white;
  padding: 80px 0 80px;
  &--dark {
    background-color: $mirage-ligth;
  }
  &__container {
    @include flex;
  }
  &__item {
    width: 263px;
    text-align: center;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__title {
    margin-bottom: 7px;
    color: $gray;
  }
  &__descr {
    color: $tundora;
  }
}

.big-image {
  padding: 160px 0 160px;
  background-color: $pearl;
  &__img {
    display: block;
    width: 1680px;
    height: 900px;
    margin-bottom: 28px;
    * {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__descr {
    text-align: center;
    color: $tundora;
    @extend %roboto-700;
  }
}

.midle-images {
  padding: 160px 0 160px;
  &__content {
  @include flex-all-sb;

  }
  &__img {
    width: 732px;
    height: 900px;
    * {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.little-images {
  padding: 160px 0 160px;
  &__content {
    @include flex-all-sb;
  }
  &__img {
    width: 400px;
    height: 600px;
    * {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

