.projects {
  background-color: $bg-light;
  &__title {
    color: $title-dark;
    text-align: center;
    padding: 160px 0 160px;
  }
  .text-up {
    color: $gray;
  }
}
.apartments {
  margin-bottom: 160px;
  &__inner {
    @include flex-v-center;
    margin-bottom: 51px;
  }
  &__img-box {
    overflow: hidden;
  }
  &__img-link {
    width: 1430px;
    height: 740px;
    display: block;
    transition: all 0.3s linear;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__img {
    * {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__num {
    margin-left: 187px;
    color: $tundora;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    position: relative;
    color: $title-dark;
    padding-bottom: 30px;
    margin-right: 90px;
    a {
      transition: all 0.2s linear;

      &:hover {
        color: $title;
      }
    }

    &::before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 120px;
      height: 1px;
      background-color: $accent;
    }
  }
}

.apartments--reverse {
  .apartments__inner {
    flex-direction: row-reverse;
  }
  .apartments__num {
    margin-right: 187px;
    margin-left: 0;
  }
  .apartments__bottom {
    flex-direction: row-reverse;
  }
  .apartments__title {
    margin-right: 0px;
    margin-left: 90px;
  }
}
